.emojiSize {
  width: 120px;
}
.eachEmojiCard {
  background-color: #ffffff33;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  border-radius: 10px;
  padding: 50px;
}

.button-style {
  background-color: transparent;
  border-width: 0px;
}
